      <div id="results">
        <% if @results %>
          <%= erb :results %>
        <% end %>
        <% if @results.length == 0 %>
        <% end %>
      </div>
      <div id="remembered">
        <% if @remembered%>
          <%= erb :remembered %>
        <% end %>
      </div>
